{% extends "base.html" %}
{% block title %}Hotrocks Calendar{% endblock title %}

{% block content %}
<h1 class="text-dark">Calendar</h1>
<p>
    Date Range: <BR>
    from: {{datefrom|date:"D, M j"}} <BR>
    to:   {{dateto|date:"D, M j"}}
    </p>

    <div class="d-flex justify-content-between">
        <div class="p-2"><a href="{% url 'cal_home' %}?datefrom={{datefrom|date:"Ymd"}}&dateto={{dateto|date:"Ymd"}}&goto=prev_week">Prev</a>
        </div>
        <div class="p-2"><a href="{% url 'cal_home' %}?datefrom={{datefrom|date:"Ymd"}}&dateto={{dateto|date:"Ymd"}}&goto=next_week">Next</a>
        </div>
    </div>
<table style="width:100%"  class="table table-bordered table-light ">
    <TR>
        {% for key,val in jobs_transposed_by_crew.0.items%}
        <TH>
            {{val}}
        </TH> 
        {% endfor %}
    </tr>
    {% for key, row in jobs_transposed_by_crew.1.items%}

    <TR>
        {% for key,val in row.items %}
        <TD>
            {% if key == '0'%}
            {{val}}
            {% else %}
                {% if val.id %}
                <a class="btn btn-primary" href="{% url 'cal_home' %}">{{val.job.name}}</a>{{val.id}}
                <form method="get" action="{% url 'cal_update' val.id %}">
                    <input type="hidden" name="datefrom" value="{{datefrom|date:'Ymd'}}">
                    <input type="hidden" name="dateto" value="{{dateto|date:'Ymd'}}">
                    <button formnovalidate class="btn btn-primary"  >Edit</button>
                </form>
                {% endif %}
            {% endif %}
        </TD>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock content %}
</html>
