{% extends "base.html" %}
{% block title %}Hotrocks - Incident Reports{% endblock title %}

{% block content %}
<h1 class="text-dark">Incident Reports</h1>

<p>
  <a href="{% url 'add_report' %}">Add Incident Report</a>
</p>
<table style="width:100%"  class="table table-bordered table-light ">
  <thead>
    <tr style='background-color:white'>
      <th>Date</th>
      <th>Site</th>
      <th>Description</th>
      <th>Reported By</th>
      <th >Action</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for item in reports %}
    <tr style='background-color:{% cycle 'LightGray' 'SeaShell' %}' >
      <td><a href="{% url 'detail'  item.id %}">{{item.incident_date}}</td>
      <td>{{item.site}}</td></a>
      <td>{{item.description}}</td>
      <td>{{item.reported_by}}</td>
      <td> 
        <div class="d-flex p-2"><form method="get" action="{% url 'update'  item.id %}">
          <button formnovalidate class="btn btn-primary"  >Edit</button>
        </form>
        <form method="get" action="{% url 'delete_confirmation'  item.id %}">
          <button formnovalidate class="btn btn-primary"  >Delete</button>
        </form></td></div></td>
    </tr>
    {% empty %}
    <tr style='background-color:{% cycle 'LightGreen' 'LightSalmon' %}' >
      <td>No Reports in the database</td><td></td><td></td><td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
</html>
